.footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: table;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(23, 23, 23);
    padding: 8px;
    font-family: Roboto;
  }
  
  .copyright-text {
    font-size: small;
  }

  .linkstyle {
    color:white;
  }