@keyframes FadeIn {
    0% {
      position: absolute;
      bottom: -5rem;
      opacity: 0;
    }
  
    75% {
      position: absolute;
      bottom: 25%;
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
  }

.fadeIn{
    animation-name: FadeIn;
    animation-duration: 3s;
}
